/* I've chosen 2 fonts */

@import url('https://fonts.googleapis.com/css?family=Roboto|Playfair+Display" rel="stylesheet">');
body {
    margin: 0;
    padding: 0;
    background-color: grey;
    box-sizing: border-box;
}


/* cv.html page */


/* header */


/* sourse: https://www.youtube.com/watch?v=0gCMLAivggc */

section {
    position: relative;
    width: 100%;
    height: 30vh;
    background: linear-gradient(45deg, yellow, black);
    display: flex;
}

section:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: rgb(0, 0, 0);
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.content {
    position: relative;
    max-width: 900px;
    text-align: center;
}

#content h2 {
    margin-top: 10px;
    margin-left: 400px;
    color: #fff;
    font-size: 5em;
}


/* menu settings*/

.dropdown {
    position: absolute;
    margin-top: 20px;
    margin-left: 280px;
}

button {
    position: relative;
    width: 120px;
    height: 40px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background: #000;
    border: #000;
    cursor: pointer;
}

.dropdown ul {
    position: abolute;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #f00;
    transform-origin: top;
    transition: 0.5s;
}

.dropdown ul li {
    list-style: none;
}

.dropdown ul li a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #000;
    transition: 0.5s;
}

.dropdown ul li a:hover {
    background: rgb(255, 255, 0);
}


/* cv information section  */

main {
    position: absolute;
    top: 155%;
    left: 50%;
    margin-bottom: 5%;
    transform: translate(-50%, -50%);
    height: 1500px;
    width: 1200px;
    background: #000;
    box-shadow: 0 25px 30px rgba(0, 0, 0, .5);
    display: flex;
}


/* cv.html first column settings*/


/* source: https://codepen.io/RajRajeshDn/pen/dyyrdQP */

.cont1 {
    width: calc(50% - 50px);
    height: 100%;
    background: #000;
    box-sizing: border-box;
    padding: 30px 50px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}


/* image settings */

.photo {
    height: 350px;
    background-image: url(img/img12.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
}


/*  "Contact" title settings */

.first {
    color: #fff;
    text-shadow: 4px 2px 4px rgb(255, 255, 0);
    margin-top: 30px;
    margin-left: 150px;
    font-size: 45px;
    text-transform: uppercase;
}

.cont-title {
    color: #2110bd;
    font-size: 25px;
    font-weight: 400;
    line-height: 5px;
}

.cont-text {
    color: #fff;
    text-decoration: none;
    margin-top: -5px;
    margin-left: 35px;
    line-height: 5px;
    font-size: 25px;
    font-weight: 550;
}

.cont-itm {
    line-height: 10px;
    margin-top: 30px;
}

.fas {
    margin: 10px;
    color: #994b06;
}

address {
    font-style: normal;
    margin-top: 10px;
}


/* social network icons settings */

.icon {
    margin-top: -35px;
}

.icon a {
    height: 50px;
    width: 50px;
    margin: 10px;
    margin-left: 50px;
    margin-top: -10px;
    border-radius: 30%;
    text-align: center;
}

.icon a i {
    color: #994b06;
    font-size: 40px;
    margin-top: 30px;
}

.icon a:hover i {
    color: #d4970b;
    transition: 1s;
    transform: scale(1.3);
}


/* "Skills" and  "Social" titles settings */

.second {
    color: #fff;
    text-shadow: 4px 2px 4px rgb(255, 255, 0);
    margin-top: 50px;
    margin-left: 150px;
    font-size: 45px;
    text-transform: uppercase;
}

.one ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}

.one ul li:last-child {
    margin-bottom: 0;
}

.one ul li .skill_name {
    width: 25%;
}

.one ul li .skill_progress {
    width: 60%;
    margin: 0 5px;
    height: 5px;
    background: #fff;
    position: relative;
}

.one ul li .skill_per {
    width: 15%;
}

.one ul li .skill_progress span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgb(255, 255, 0);
}


/* cv.html second column */


/* source: https://codepen.io/RajRajeshDn/pen/dyyrdQP */

.cont2 {
    width: calc(50% + 50px);
    height: 100%;
    background: #f00;
    box-sizing: border-box;
    border-left: 100px solid #000;
    border-bottom: 1500px solid transparent;
}


/* " Olga Bekere" settings */

.third {
    font-size: 45px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.cont2 p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    color: #000000;
    margin-top: -40px;
    line-height: 25px;
    margin-right: 20px;
}

.par {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    color: #fff;
    margin-top: -40px;
    line-height: 25px;
    margin-right: 20px;
}

.parr {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 35px;
}


/*  "About me", "Experience" and  "Education" titles settings */

.fourth {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #fff;
    text-shadow: 4px 2px 4px rgb(255, 255, 0);
    font-size: 45px;
}

.two ul {
    padding-left: 80px;
    color: #f00;
}

.two .exper {
    color: #0a0a0a;
    font-family: 'Roboto', sans-serif;
    line-height: 20px;
    font-weight: 700;
    font-size: 20px;
}

.two ul li {
    position: relative;
}

.two .info {
    margin-top: 60px;
    margin-left: -250px;
}

.two p {
    color: black;
}

.two ul li:before {
    content: '';
    position: absolute;
    top: 5px;
    left: -25px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 2px solid rgb(7, 7, 7);
    background-color: rgb(7, 7, 7);
}

.two ul li:after {
    content: '';
    position: absolute;
    top: 14px;
    left: -21px;
    width: 2px;
    height: 100px;
    background: rgb(7, 7, 7);
}


/* Responsive pages */

@media all and (max-width:1200px) {
    section {
        width: 120%;
    }
    main {
        top: 120%;
    }
}

@media all and (max-width:1100px) {
    .photo {
        margin-left: 100px;
    }
    .main {
        width: 800px;
    }
    .first {
        font-size: 25px;
    }
    .cont-title {
        font-size: 25px;
        margin-left: 180px;
    }
    .cont-text {
        margin-left: 220px;
        font-size: 25px;
        line-height: 30px;
    }
    .second {
        font-size: 25px;
    }
    .fourth {
        font-size: 25px;
    }
    .one ul li {
        margin-left: 100px;
    }
    .one ul li .skill_progress {
        margin-left: 60px;
    }
    .icon a {
        height: 50px;
        width: 50px;
        margin: -100px;
        margin-left: 150px;
    }
}

@media all and (max-width:880px) {
    section {
        width: 140%;
    }
}

@media all and (max-width:860px) {
    main {
        top: 115%;
        display: grid;
        grid-template-columns: 1fr;
        left: 600px;
    }
    .cont2 {
        width: 100%;
        border-left: 0;
        height: 500px;
    }
    .cont1 {
        width: 100%;
    }
    .parr {
        text-align: center;
    }
}

@media all and (max-width:680px) {
    section {
        width: 170%;
    }
}

@media all and (max-width:510px) {
    section {
        width: 200%;
    }
}

@media all and (max-width:400px) {
    section {
        width: 220%;
    }
}

@media all and (max-width:360px) {
    section {
        width: 240%;
    }
}